<div class="content">
   <div class="title">
      {{pageTitle}}
   </div>

   @if (isLoading()) {
   <div>... loading vehicles</div>
   } @else if (errorMessage()){
   <div style='color: red'>An error occurred: {{ errorMessage() }}</div>
   } @else {
   <div class="grid">
      <div class="row">
         <div class="cellFull">
            <select [(ngModel)]="selectedVehicle">
               <option value="undefined" disabled selected>--Select a vehicle--</option>
               @for(vehicle of vehicles(); track vehicle) {
               <option [ngValue]='vehicle'>{{ vehicle.name }}</option>
               }
            </select>
         </div>
      </div>
      
      @let vehicle = selectedVehicle();
      @if (vehicle) {
         <div class="row">
            <div class="cellLeft"><label for='quantity'>Quantity:</label></div>
            <div class="cellRight"><input class="quantityInput" id='quantity' type='number' [(ngModel)]='quantity'></div>
         </div>
         <div class="row">
            <div class="cellLeft">Vehicle:</div>
            <div class="cellRight">{{ vehicle.name }}</div>
         </div>
         <div class="row">
            <div class="cellLeft">Price:</div>
            <div class="cellRight">{{ vehicle.cost_in_credits }}</div>
         </div>
         <div class="row">
            <div class="cellLeft" [style.color]='color()'>Total: </div>
            <div class="cellRight">{{ total() }}</div>
         </div>
      }
   </div>
   }
</div>